<!DOCTYPE html>
<html>
<head>
    <title>调度中心</title>
    <#import "common/common.macro.ftl" as netCommon>
    <@netCommon.commonStyle />
    <link rel="stylesheet" href="/adminlte/plugins/iCheck/square/blue.css">
</head>
<body class="hold-transition login-page">
<div class="login-box">
    <div class="login-logo">
        <a><b>Sinosoft</b>JOB</a>
    </div>
    <form id="loginForm" method="post">
        <div class="login-box-body">
            <p class="login-box-msg">任务调度中心</p>
            <div class="form-group has-feedback">
                <input type="text" name="userName" class="form-control" placeholder="请输入登录账号" value="admin">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" name="password" class="form-control" placeholder="请输入登录密码" value="123456">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox" name="ifRemember"> Remember Me
                        </label>
                    </div>
                </div><!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">登录</button>
                </div>
            </div>
        </div>
    </form>
</div>
<@netCommon.commonScript />
<script src="/plugins/jquery/jquery.validate.min.js"></script>
<script src="/adminlte/plugins/iCheck/icheck.min.js"></script>
<script src="/js/login.1.js"></script>

</body>
</html>
